public/app/components/bank/bank.view.html

<div class="mp-bank col-xs-12 col-sm-10 col-lg-5 col-centered">
  <div class="mp-bank__users">
    <div ng-repeat="user in vm.users" ng-click="vm.addToTransfer(user)" class="mp-user mp-user--inline">
      <div class="mp-user__avatar mp-color--{{ ::user.color }}">
        <div class="mp-icon mp-icon--{{ ::user.icon }}"></div>
      </div>
    </div>
  </div>
  <div class="mp-bank__control">
    <div ng-click="vm.removeFromTransfer('from')" class="mp-bank__control__user col-xs-5 col-sm-5 col-lg-5">
      <div class="mp-user">
        <div class="mp-user__avatar mp-color--{{ vm.transfer.from ? vm.transfer.from.color : 'grey-light' }}">
          <div class="mp-icon mp-icon--{{ vm.transfer.from ? vm.transfer.from.icon : 'piggy' }}"></div>
        </div>
        <div class="mp-user__info">
          <div class="mp-user__name">{{ vm.transfer.from ? vm.transfer.from.name : 'Bank' }}</div>
          <div class="mp-user__money">{{ vm.transfer.from ? vm.transfer.from.money : 'infinity' }}</div>
        </div>
      </div>
    </div>
    <div class="mp-bank__control__calc mp-bank__control__calc--active col-xs-2 col-sm-2 col-lg-2"><i class="mp-icon mp-icon--dialpad"></i></div>
    <div ng-click="vm.removeFromTransfer('to')" class="mp-bank__control__user col-xs-5 col-sm-5 col-lg-5">
      <div class="mp-user">
        <div class="mp-user__info">
          <div class="mp-user__name">{{ vm.transfer.to ? vm.transfer.to.name : 'Bank' }}</div>
          <div class="mp-user__money">{{ vm.transfer.to ? vm.transfer.to.money : 'infinity' }}</div>
        </div>
        <div class="mp-user__avatar mp-color--{{ vm.transfer.to ? vm.transfer.to.color : 'grey-light' }}">
          <div class="mp-icon mp-icon--{{ vm.transfer.to ? vm.transfer.to.icon : 'piggy' }}"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="mp-calc">
    <div class="mp-calc__input clearfix">
      <input type="text" ng-model="vm.amount" placeholder="0" class="mp-input col-xs-12 col-sm-12 col-lg-12"/>
    </div>
    <div class="mp-calc__buttons">
      <div ng-click="vm.doTransfer()" class="mp-calc__button">
        <div class="mp-calc__button__inner">M</div>
      </div>
      <div ng-click="vm.transfer.reverse()" class="mp-calc__button">
        <div class="mp-calc__button__inner">
          <div class="mp-rounded-btn mp-rounded-btn--dark"><i class="glyphicon glyphicon-refresh"></i></div>
        </div>
      </div>
      <div ng-click="vm.doTransfer()" class="mp-calc__button">
        <div class="mp-calc__button__inner">K</div>
      </div>
      <div ng-click="vm.addToAmount(7)" class="mp-calc__button">
        <div class="mp-calc__button__inner">7</div>
      </div>
      <div ng-click="vm.addToAmount(8)" class="mp-calc__button">
        <div class="mp-calc__button__inner">8</div>
      </div>
      <div ng-click="vm.addToAmount(9)" class="mp-calc__button">
        <div class="mp-calc__button__inner">9</div>
      </div>
      <div ng-click="vm.addToAmount(4)" class="mp-calc__button">
        <div class="mp-calc__button__inner">4</div>
      </div>
      <div ng-click="vm.addToAmount(5)" class="mp-calc__button">
        <div class="mp-calc__button__inner">5</div>
      </div>
      <div ng-click="vm.addToAmount(6)" class="mp-calc__button">
        <div class="mp-calc__button__inner">6</div>
      </div>
      <div ng-click="vm.addToAmount(1)" class="mp-calc__button">
        <div class="mp-calc__button__inner">1</div>
      </div>
      <div ng-click="vm.addToAmount(2)" class="mp-calc__button">
        <div class="mp-calc__button__inner">2</div>
      </div>
      <div ng-click="vm.addToAmount(3)" class="mp-calc__button">
        <div class="mp-calc__button__inner">3</div>
      </div>
      <div ng-click="vm.clearAmount()" class="mp-calc__button">
        <div class="mp-calc__button__inner">C</div>
      </div>
      <div ng-click="vm.addToAmount(0)" class="mp-calc__button">
        <div class="mp-calc__button__inner">0</div>
      </div>
      <div ng-click="vm.addToAmount('.')" class="mp-calc__button">
        <div class="mp-calc__button__inner">.</div>
      </div>
    </div>
  </div>
</div>

source/app/components/bank/bank.view.jade
.mp-bank.col-xs-12.col-sm-10.col-lg-5.col-centered
  .mp-bank__users
    .mp-user.mp-user--inline(ng-repeat="user in vm.users" ng-click="vm.addToTransfer(user)")
      .mp-user__avatar(class="mp-color--{{ ::user.color }}")
        .mp-icon(class="mp-icon--{{ ::user.icon }}")
  .mp-bank__control
    .mp-bank__control__user.col-xs-5.col-sm-5.col-lg-5(ng-click="vm.removeFromTransfer('from')")
      .mp-user
        .mp-user__avatar(class="mp-color--{{ vm.transfer.from ? vm.transfer.from.color : 'grey-light' }}")
          .mp-icon(class="mp-icon--{{ vm.transfer.from ? vm.transfer.from.icon : 'piggy' }}")
        .mp-user__info
          .mp-user__name {{ vm.transfer.from ? vm.transfer.from.name : 'Bank' }}
          .mp-user__money {{ vm.transfer.from ? vm.transfer.from.money : 'infinity' }}
    .mp-bank__control__calc.mp-bank__control__calc--active.col-xs-2.col-sm-2.col-lg-2
      i.mp-icon.mp-icon--dialpad
    .mp-bank__control__user.col-xs-5.col-sm-5.col-lg-5(ng-click="vm.removeFromTransfer('to')")
      .mp-user
        .mp-user__info
          .mp-user__name {{ vm.transfer.to ? vm.transfer.to.name : 'Bank' }}
          .mp-user__money {{ vm.transfer.to ? vm.transfer.to.money : 'infinity' }}
        .mp-user__avatar(class="mp-color--{{ vm.transfer.to ? vm.transfer.to.color : 'grey-light' }}")
          .mp-icon(class="mp-icon--{{ vm.transfer.to ? vm.transfer.to.icon : 'piggy' }}")
  .mp-calc
    .mp-calc__input.clearfix
      input(type="text", ng-model="vm.amount", placeholder="0").mp-input.col-xs-12.col-sm-12.col-lg-12
    .mp-calc__buttons
      .mp-calc__button(ng-click="vm.doTransfer()")
        .mp-calc__button__inner M
      .mp-calc__button(ng-click="vm.transfer.reverse()")
        .mp-calc__button__inner
          .mp-rounded-btn.mp-rounded-btn--dark
            i.glyphicon.glyphicon-refresh
      .mp-calc__button(ng-click="vm.doTransfer()")
        .mp-calc__button__inner K
      - each val in [ 7, 8, 9, 4, 5, 6, 1, 2, 3  ]
        .mp-calc__button(ng-click="vm.addToAmount(#{val})")
          .mp-calc__button__inner= val
      .mp-calc__button(ng-click="vm.clearAmount()")
        .mp-calc__button__inner C
      .mp-calc__button(ng-click="vm.addToAmount(0)")
        .mp-calc__button__inner 0
      .mp-calc__button(ng-click="vm.addToAmount('.')")
        .mp-calc__button__inner .
