public/app/components/lobby/lobby.view.html

<div class="mp-lobby col-centered col-xs-12 col-sm-10 col-lg-5">
  <h1 class="mp-lobby__title"><span class="mp-lobby__title__text">Monopoly Assistant</span></h1>
  <div ng-if="vm.users.length" class="mp-lobby__users">
    <div ng-repeat="user in vm.users" ng-click="vm.deleteUser($index)" class="mp-user mp-user--block">
      <div class="mp-user__avatar mp-color--{{ ::user.color }}">
        <div class="mp-icon mp-icon--{{ ::user.icon }}"></div>
      </div>
      <div class="mp-user__info">
        <div class="mp-user__name">{{ ::user.name }}</div>
      </div>
    </div>
  </div>
  <div class="mp-lobby__add-user">
    <input type="text" placeholder="Username" ng-model="vm.name" ng-keyup="$event.keyCode == 13 &amp;&amp; vm.addUser(vm.name)" class="mp-input col-xs-11 col-sm-11 col-lg-11"/>
    <div ng-click="vm.addUser(vm.name)" class="mp-input-btn mp-rounded-btn col-xs-2 col-sm-2 col-lg-1"><span class="glyphicon glyphicon-plus"></span></div>
  </div><a href="" ng-click="vm.startGame()" class="mp-floating-btn"><i class="glyphicon glyphicon-play"></i></a>
</div>

source/app/components/lobby/lobby.view.jade
.mp-lobby.col-centered.col-xs-12.col-sm-10.col-lg-5
  h1.mp-lobby__title
    span.mp-lobby__title__text Monopoly Assistant
  .mp-lobby__users(ng-if="vm.users.length")
    .mp-user.mp-user--block(ng-repeat="user in vm.users", ng-click="vm.deleteUser($index)")
      .mp-user__avatar(class="mp-color--{{ ::user.color }}")
        .mp-icon(class="mp-icon--{{ ::user.icon }}")
      .mp-user__info
        .mp-user__name {{ ::user.name }}
  .mp-lobby__add-user
    input(type="text", placeholder="Username", ng-model="vm.name", ng-keyup="$event.keyCode == 13 && vm.addUser(vm.name)").mp-input.col-xs-11.col-sm-11.col-lg-11
    .mp-input-btn.mp-rounded-btn.col-xs-2.col-sm-2.col-lg-1(ng-click="vm.addUser(vm.name)")
      span.glyphicon.glyphicon-plus
  a(href="", ng-click="vm.startGame()").mp-floating-btn
    i.glyphicon.glyphicon-play
